<style>
.red-link { color: red }
</style>
<h1>Authors</h1>

<ul>
  <% @authors.each do |author| %>
    <li>
      <%= author.name %> -- age: <%= author.age %> -- old person? <%= author.age.to_i > 35 ? "Yes" : "No" %> -- <%= link_to "View Author Details", author_path(author), class: "red-link" %>
    </li>
  <% end %>
</ul>