<h1>Book Details</h1>

<h4>
  <%= @book.title %>
</h4>
<p>
  Year: <%= @book.year %>
</p>

<p>
  <%= link_to "Delete Book", delete_book_path(@book) %>
</p>

<hr>

<%= link_to "Return to Books List", books_path %>