<% @page_title = "All Subjects Available" %>

<h1>All Subjects</h1>

<ul>
  <% @subjects.each do |subject| %>
    <li>
      <%= link_to subject.name, subject_path(subject) %> - <%= subject.position %> - <%= link_to "Edit subject", edit_subject_path(subject) %>
    </li>
  <% end %>
</ul>

<hr>

<%= link_to "Create a New Subject", new_subject_path %>