<!DOCTYPE html>
<html>
  <head>
    <title>Simple CMS: <%= @page_title || "Admin Area" %></title>
    <style>
      span.status { display: inline-block; width: 10px; height: 10px; margin: 0.25em auto; padding: 0; border: 1px solid #000000; }
      span.status.true { background: green; color: black }
      span.status.false { background: red; color: black }
    </style>
  </head>
  <body>
    <h1>Administration</h1>

    <% if !flash[:notice].blank? %>
      <div>
        <%= flash[:notice] %>
      </div>
    <% end %>

    <!-- before yield -->
  
    <%= yield %>

    <!-- after yield -->

  </body>
</html>